.level1{
    border-bottom: solid !important;
    border-bottom-color: #dee0dd !important;
    border-bottom-width: 2px !important;
}

.level2{
    border-bottom: solid !important;
    border-bottom-color: white !important;
    border-bottom-width: 2px !important;
}