{% extends '::cdominguezbase.html.twig' %}
{% block cdContentArea %}
    <div class="grid_4">
        <ul class="da-circular-stat-wrap">
            <li class="da-circular-stat {fillColor: '#a6d037', value: 55, maxValue: 98, label: 'Seeds Collected'}"></li>
            <li class="da-circular-stat {fillColor: '#ea799b', percent: true, value: 200, maxValue: 241, label: 'iPads Cloned'}"></li>
            <li class="da-circular-stat {fillColor: '#fab241', value: 124, maxValue: 523, label: 'Androids Bought'}"></li>
            <li class="da-circular-stat {fillColor: '#61a5e4', percent: true, value: 42, maxValue: 100, label: 'Funds Collected'}"></li>
        </ul>
        <div class="da-panel-widget">
            <h1>Hello {{ name }}!</h1>
            <div id="da-ex-gchart-line" style="height:225px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#{% javascripts 
        'js/core/plugins/dandelion.circularstat.min.js'
        'bundles/mysitecdominguez/js/dashboard.js'
    %}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}#}
    <script src="{{ asset('bundles/mysitecdominguez/js/dashboard.js') }}" ></script>
{% endblock %}