{% extends '::cdominguezbase.html.twig' %}
{% block cdContentArea %}
    <div class="grid_4">
        <div class="da-panel-widget">
            <h1>Hello {{ name }}!</h1>
            <div id="da-ex-gchart-line" style="height:225px;"></div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}
    {% include 'GndEJSTreeGridBundle::createGrid.js.twig' with {
        'gridContainerId' : gridOptionsGenerator.containerId, 
        'gridOptions'     : gridOptionsGenerator.options,
        'gridId'          : gridOptionsGenerator.gridId 
       }
    %}
{% endblock %}