
#ContainerFunnyZoom {
	height: 100%;
	width: 100%;
	top: 15px;
	position: relative;
	float: inherit;
}

ul.thumb {
	list-style: none;
}
ul.thumb li {
	margin: 0; padding: 5px;
	float: left;
	position: relative;
	width: 104px;
	height: 104px;
}
ul.thumb li img {
	width: 104px; height: 104px;
	border: 1px solid #ddd;
	padding: 2px;
	background: #f0f0f0;
	position: absolute;
	left: 0; top: 0;
	-ms-interpolation-mode: bicubic; 
	cursor: url(http://carlosdominguez.co.cc/images/handFlip.png), auto;
}
ul.thumb li img.hover {
	background:url(thumb_bg.png) no-repeat center center;
	border: none;
}
#main_view {
	float: left;
	padding: 9px 0;
	margin-left: -10px;
}